# First print your name in the cell below then save this file. (or something nice about your instructor)

In [1]:
# In this cell print your name 
print('Jake H')
print('Zach and Georgios are the best')

Jake H
Zach and Georgios are the best

# Data wrangling with Pandas exercise
* For this exercise we will be using the `listings.csv` data file.

In [2]:
import pandas as pd
import numpy as np

# Load in the data file using `pd.read_csv()`

In [4]:
# Load data here
data = pd.read_csv('data/listings.csv')

## Exercise 2 - Filtering

Return the following subsets of the dataframe.

1. How many listings are there with a price less than 100? 


2. Find how many listings there are in just Brooklyn.


3. Find how many listings there are in Brooklyn with a price less than 100.


4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.


5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  The prices for all other listings should be the same as the were before. 


6. What % of the rooms are private, and what % of the rooms are shared.  
    * Hint, use `.value_counts()`

In [5]:
# 1. How many listings are there with a price less than 100? 
list_under_100 = data[data['price'] < 100]

count_under_100 = list_under_100.shape[0]
print(count_under_100)

22778

In [7]:
# 2. Make a new DataFrame of listings in Brooklyn named `df_bk` 
# and find how many listings in just Brooklyn.
df_bk = data[data['neighbourhood_group'] == 'Brooklyn']

count_brooklyn = df_bk.shape[0]
print(count_brooklyn)

18632

In [8]:
# 3. Find how many listings there are in Brooklyn with a price less than 100.
brooklyn_under_100 = df_bk[df_bk['price'] < 100]

count_brooklyn_under_100 = brooklyn_under_100.shape[0]
print(count_brooklyn_under_100)

10473

In [18]:
# 4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.
# How many total are there that have those names
host_name = ['Michael', 'David', 'John', 'Daniel']
named_hosts = data[data['host_name'].isin(host_name)]

print(named_hosts.head())

total_listings = named_hosts.shape[0]
print(f"Total listings with those names is: {total_listings}")

        id                                               name  host_id  \
52   16595  LOFT HAVEN ~ Six Windows ~ Bricks ~ Plants ~ Q...    64522
201  61747              Cozy,  Brooklyn, Prospect Park Studio   299370
209  62903  Beautiful modern studio apartment in heart of NYC   306605
220  64015                       Prime East Village 1 Bedroom   146944
260  74073       Food & Music Dream Apartment in Williamsburg   211877

    host_name neighbourhood_group              neighbourhood  latitude  \
52     Daniel            Brooklyn               Williamsburg  40.70933
201     David            Brooklyn  Prospect-Lefferts Gardens  40.65979
209    Daniel           Manhattan                    Chelsea  40.74238
220     David           Manhattan               East Village  40.72807
260    Daniel            Brooklyn               Williamsburg  40.71113

     longitude        room_type  price  minimum_nights  number_of_reviews  \
52   -73.96792  Entire home/apt    271               1                172
201  -73.96180  Entire home/apt     91              14                 97
209  -73.99567  Entire home/apt    205              15                 68
220  -73.98594  Entire home/apt    200               3                  0
260  -73.96054  Entire home/apt    187              30                 90

    last_review  reviews_per_month  calculated_host_listings_count  \
52   2020-07-14               1.44                               1
201  2018-01-31               0.83                               1
209  2019-12-14               0.67                               2
220         NaN                NaN                               1
260  2020-07-31               0.81                               1

     availability_365  adjusted_price
52                365             371
201                44              91
209                89             205
220                 0             200
260               261             287
Total listings with those names is: 1258

In [16]:
# 5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  
# The prices for all other listings should be the same as the were before. 
data['adjusted_price'] = data['price']

data.loc[data['neighbourhood'] == 'Williamsburg', 'adjusted_price'] += 100

williamsbrug_only = data[data['neighbourhood'] == 'Williamsburg']
##print(data[['neighbourhood', 'price', 'adjusted_price']].head())

print(williamsbrug_only[['neighbourhood', 'price', 'adjusted_price']])

      neighbourhood  price  adjusted_price
11     Williamsburg    109             209
15     Williamsburg    299             399
35     Williamsburg    131             231
38     Williamsburg    175             275
42     Williamsburg     80             180
...             ...    ...             ...
46484  Williamsburg    250             350
46489  Williamsburg    464             564
46493  Williamsburg    100             200
46513  Williamsburg    180             280
46517  Williamsburg     55             155

[3486 rows x 3 columns]

In [19]:
# 6. What % of the rooms are private, and what % of the rooms are shared.  
room_count = data['room_type'].value_counts(normalize=True) * 100

print(room_count)

room_type
Entire home/apt    51.578653
Private room       45.444581
Shared room         2.121349
Hotel room          0.855417
Name: proportion, dtype: float64

# Exercise 3 - Grouping

1. Using `groupby`, count how many listings are in each neighbourhood_group.


2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 


3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 


4. Using `groupby`, find the median price for each room type in each neighbourhood_group.


5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices for each room type in each neighbourhood_group.

In [21]:
# 1. Using `groupby`, count how many listings are in each neighbourhood_group.
neighbourhood_group_count = data.groupby('neighbourhood_group')['id'].count()

print(neighbourhood_group_count)

neighbourhood_group
Bronx             1183
Brooklyn         18632
Manhattan        20580
Queens            5791
Staten Island      341
Name: id, dtype: int64

In [22]:
# 2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 
mean_price = data.groupby('neighbourhood_group')['price'].mean()

print(mean_price)

neighbourhood_group
Bronx             92.751479
Brooklyn         120.225258
Manhattan        191.880466
Queens            99.754965
Staten Island    110.947214
Name: price, dtype: float64

In [23]:
# 2.5. Using `groupby`, find the mean price for each room_type. 
mean_price_room = data.groupby('room_type')['price'].mean()

print(mean_price_room)

room_type
Entire home/apt    199.395950
Hotel room         275.015075
Private room        91.453084
Shared room         87.063830
Name: price, dtype: float64

In [24]:
# 3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 
min_max_price = data.groupby('neighbourhood_group')['price'].agg(['min', 'max'])

print(min_max_price)

                     min    max
neighbourhood_group
Bronx                 16   1404
Brooklyn               0  10000
Manhattan              0  10000
Queens                 0  10000
Staten Island         19   1200

In [26]:
# 4. Using `groupby`, find the mean price for each room_type in each neighbourhood_group.
median_room = data.groupby(['neighbourhood_group','room_type'])['price'].median()
mean_room_neighbourhood = data.groupby(['neighbourhood_group','room_type'])['price'].mean()
print(median_room)
print(mean_room_neighbourhood)

neighbourhood_group  room_type
Bronx                Entire home/apt    103.0
                     Private room        55.0
                     Shared room         44.0
Brooklyn             Entire home/apt    135.0
                     Hotel room         129.0
                     Private room        60.0
                     Shared room         36.0
Manhattan            Entire home/apt    165.0
                     Hotel room         210.0
                     Private room        80.0
                     Shared room         60.0
Queens               Entire home/apt    115.0
                     Hotel room         149.0
                     Private room        55.0
                     Shared room         40.0
Staten Island        Entire home/apt    111.0
                     Private room        55.0
                     Shared room         38.0
Name: price, dtype: float64
neighbourhood_group  room_type
Bronx                Entire home/apt    138.004819
                     Private room        68.419668
                     Shared room         66.391304
Brooklyn             Entire home/apt    171.587687
                     Hotel room         147.300000
                     Private room        71.291189
                     Shared room         57.870091
Manhattan            Entire home/apt    231.335572
                     Hotel room         292.515670
                     Private room       128.277069
                     Shared room        111.735084
Queens               Entire home/apt    150.168900
                     Hotel room         139.058824
                     Private room        69.972564
                     Shared room         89.891892
Staten Island        Entire home/apt    151.720930
                     Private room        70.312883
                     Shared room         46.000000
Name: price, dtype: float64

In [27]:
# 5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices 
# for each room type in each neighbourhood_group.
all_prices = data.groupby(['neighbourhood_group', 'room_type'])['price'].agg(
    count = 'count',
    min = 'min',
    max = 'max',
    mean = 'mean',
    median = 'median',
    std = 'std'
)

print(all_prices)

                                     count  min    max        mean  median  \
neighbourhood_group room_type
Bronx               Entire home/apt    415   25   1404  138.004819   103.0
                    Private room       722   16    700   68.419668    55.0
                    Shared room         46   20    800   66.391304    44.0
Brooklyn            Entire home/apt   9112   20  10000  171.587687   135.0
                    Hotel room          30    0    399  147.300000   129.0
                    Private room      9159   10   2500   71.291189    60.0
                    Shared room        331   15   1500   57.870091    36.0
Manhattan           Entire home/apt  12209    0  10000  231.335572   165.0
                    Hotel room         351    0   2211  292.515670   210.0
                    Private room      7601   10  10000  128.277069    80.0
                    Shared room        419   10  10000  111.735084    60.0
Queens              Entire home/apt   2090   10  10000  150.168900   115.0
                    Hotel room          17    0    249  139.058824   149.0
                    Private room      3499   18   9000   69.972564    55.0
                    Shared room        185   14   3000   89.891892    40.0
Staten Island       Entire home/apt    172   39   1200  151.720930   111.0
                    Private room       163   20    800   70.312883    55.0
                    Shared room          6   19     82   46.000000    38.0

                                            std
neighbourhood_group room_type
Bronx               Entire home/apt  126.032106
                    Private room      57.337866
                    Shared room      114.442703
Brooklyn            Entire home/apt  236.732843
                    Hotel room        91.153206
                    Private room      69.023165
                    Shared room       92.217618
Manhattan           Entire home/apt  410.306439
                    Hotel room       315.924085
                    Private room     448.677306
                    Shared room      502.728868
Queens              Entire home/apt  252.606739
                    Hotel room        50.743806
                    Private room     163.814468
                    Shared room      275.675158
Staten Island       Entire home/apt  147.518392
                    Private room      70.759593
                    Shared room       28.446441

# Load, Merge, and Export files.
1. Load the `prices.csv` and the `n_listings.csv`
    * Having an error..? Inspect the actual csv file if you're having trouble

2. Do join that keeps all the records for each table.
    * Neighbourhood groups should include ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island',
       'LongIsland']

       
3. Save your joined csv as `joined.csv` into the data folder. 


4. Load your saved table and see if it looks the same or different that the DataFrame you used to create it.

In [39]:
# 1. Load the `prices.csv` and the `n_listings.csv`
prices = pd.read_csv('data/prices.csv')
n_listings = pd.read_csv('data/n_listings.csv')

In [40]:
# 2. Do join that keeps all the records for each table.
join_data = pd.merge(prices, n_listings, on='neighbourhood_group', how = 'outer')
required_neighbourhood_groups = ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island', 'LongIsland']

print(join_data.head)

#print(prices.columns)
#print(n_listings.columns)

<bound method NDFrame.head of   neighbourhood_group   mean_price   n_listings
0               Bronx    92.751479          NaN
1         Bronx; 1183          NaN          NaN
2            Brooklyn   120.225258          NaN
3     Brooklyn; 18632          NaN          NaN
4    LongIsland; 4121          NaN          NaN
5           Manhattan   191.880466          NaN
6    Manhattan; 20580          NaN          NaN
7              Queens    99.754965          NaN
8       Staten Island   110.947214          NaN>

In [41]:
# 3. Save your joined csv as `joined.csv` into the data folder. 
join_data.to_csv('data/joined.csv', index=False)

In [42]:
# 4. Load your newly saved file, see if it looks the same.  If not, try saving with argument `index=False`
loaded_join_data = pd.read_csv('data/joined.csv')
print(loaded_join_data.head())

  neighbourhood_group   mean_price   n_listings
0               Bronx    92.751479          NaN
1         Bronx; 1183          NaN          NaN
2            Brooklyn   120.225258          NaN
3     Brooklyn; 18632          NaN          NaN
4    LongIsland; 4121          NaN          NaN

# Extra Credit
Every question below this cell is extra credit and optional.

### 1. (Easy) Explore this new PandasAI Package and tell me what its all about because I've never used it. 
* https://www.youtube.com/watch?v=5w6eZaoDVVk&ab_channel=CodingIsFun  
* See if you can use it on the listings.csv to find out some cool info. or answer some of the questions above.

### 2. (Very Easy) Find other cool Panda packages / add ons and show us what they can do well. And how you installed them.

### 3. (Medium) Use the grammys.csv data for the next section of questions.

1. Who was won Album of the Year in 2016?


2. Who won Best Rap Album in 2009?


3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?

### (Hard) Load the Game Logs for 2022 and add the column names using a dictionary.  
* [Link to the data page](https://www.retrosheet.org/gamelogs/)
* [Link to the column names](https://procatinator.com/)
* haha, gotta find them yourself!

### (Extra Hard) Download the files for the past 5 years into a new folder and add them all into one data frame using pandas, then save that new file.
* Try to not hard code in the file names. We want to do this programmatically because what if we want to add new/more file names in the future.